.payment-failed-icon {
    font-size: 80px;
    color: #ff4d4f;
    display: inline-block;
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    filter: drop-shadow(0 0 15px rgba(255, 77, 79, 0.4));
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.payment-success-icon {
    font-size: 80px;
    color: var(--a);
    display: inline-block;
    animation: rotate-scale-up 2s ease both;
    filter: drop-shadow(0 0 15px rgba(1, 255, 253, 0.4));
}

@keyframes rotate-scale-up {
    0% {
        opacity: 0;
        transform: rotate(-45deg) scale(0);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}