body {
  background-color: #000;
  position: relative;
}

/* Top-right glow */
body::before,
body::after {
  content: "";
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
}

body::before {
  top: -100px;
  right: -100px;
  background: #8dcaff;
}

body::after {
  bottom: -100px;
  left: -100px;
  background: #8dcaff;
}
