.promo-event-container {
  background: linear-gradient(
    180deg,
    rgba(74, 39, 69, 1) 5%,
    rgba(33, 32, 63, 1) 35%,
    rgba(19, 27, 50, 1) 50%,
    rgba(19, 27, 50, 1) 100%
  );
  padding: 100px 200px;
  color: #fff;
}
.promo-event-container .promo-search {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.promo-event-container input {
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 5px 5px 15px;
}
.promo-filter-tabs {
  display: flex;
  gap: 15px;
}
.promo-filter-tabs button {
  background-color: transparent;
  color: var(--t);
  padding: 5px 25px;
  outline: transparent;
  border: 1px solid var(--t);
  border-radius: 100px;
}
.promo-filter-tabs button.active {
  background-color: var(--t);
  color: #fff;
}
/* BLOG  */
.promo-blogs-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.promo-blogs-container .blog {
  width: 49%;
  background-color: var(--s);
  border-radius: 20px;
}
.promo-blogs-container .blog .content {
  padding: 15px;
  span {
    font-size: 12px;
    color: var(--t);
  }
  h5 {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.promo-blogs-container .blog img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .promo-event-container {
    padding: 30px 20px;
  }
  .promo-event-container h4 {
    font-weight: 700;
  }
  .promo-search {
    font-size: 15px;
  }
  .promo-filter-tabs {
    gap: 10px;
  }
  .promo-filter-tabs button {
    font-size: 12px;
    padding: 5px 10px;
  }
  .promo-blogs-container .blog {
    background-color: var(--s);
    border-radius: 20px;
    width: 48%;
  }
}

@media screen and (max-width: 786px) {
  .promo-blogs-container .blog {
    background-color: var(--s);
    border-radius: 20px;
    width: 100%;
  }
}
