.single-promo-container {
  padding: 100px 200px;
  background: linear-gradient(
    180deg,
    rgba(74, 39, 69, 1) 5%,
    rgba(33, 32, 63, 1) 35%,
    rgba(19, 27, 50, 1) 50%,
    rgba(19, 27, 50, 1) 100%
  );
}
.single-promo-container .icon {
  background-color: var(--t);
  font-size: 40px;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}
.single-promo {
  margin-top: 50px;
}
.single-promo img {
  width: 100%;
}
.single-promo-content {
  margin-top: 20px;
  color: #ddd;
}
.single-promo-container span {
  color: var(--t);
  font-weight: 600;
}
.single-promo-container h2 {
  color: #fff;
  margin-top: 10px;
  font-weight: 600;
}
.single-promo-container .description {
  white-space: pre-wrap;
}

@media screen and (max-width: 992px) {
  .single-promo-container {
    padding: 30px 20px;
  }
}
