.followus-container {
  padding: 50px 200px;
  text-align: center;
  background-color: var(--bg);
  color: #fff;
}
.followus-container h2 {
  font-weight: 700;
}
.followus-container span {
  text-transform: uppercase;
}
.followus-container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.followus-container .socials img {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  scale: 1;
  transition: 0.5s all ease;
  object-fit: contain;
}
.followus-container .socials img:hover {
  scale: 1.1;
}
@media screen and (max-width: 786px) {
  .followus-container {
    padding: 0 20px;
  }
  .followus-container .socials {
    gap: 10px;
  }
  .followus-container .socials img {
    width: 50px;
  }
}
