.how-it-works {
  padding: 30px 10px;
  width: 100%;
  background: transparent;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
.how-it-works h6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}
.before-footer .icon {
  font-size: 40px;
}
@media screen and (max-width: 992px) {
  .how-it-works {
    padding: 30px 20px;
    text-align: center;
  }
  .how-it-works h6 {
    font-size: 14px;
  }
  .how-it-works h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
}
