.testimonials-container {
  padding: 80px 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.testimonial-slider {
  width: 100%;
  color: #000;
}
.testimonial {
  padding: 20px;
  color: #000;
}
.testimonial-content {
  padding: 30px;
  position: relative;
  color: #000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.testimonial-content .icon {
  color: #000;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 992px) {
  .testimonials-container {
    padding: 50px 20px;
  }
}
